- name: install packages
  apt:
    name:
      - python3
      - python3-picamera2
      - python3-flask
      - nginx
      - libnginx-mod-http-fancyindex
    state: present
    update_cache: yes
    cache_valid_time: 7200
  become: yes

- name: create directory for storing the pictures
  file:
    path: "/var/www/html/camera"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755
    state: directory
  become: yes

- name: copy nginx config file
  copy:
    src: "default"
    dest: "/etc/nginx/sites-available/default"
    owner: "root"
    group: "root"
    mode: 0644
  become: yes
  notify: restart nginx

- name: enable nginx.service
  systemd_service:
    name: "nginx.service"
    enabled: yes
  become: yes

- name: copy web script
  copy:
    src: "hqcam-web"
    dest: "/home/{{ ansible_user }}"
    mode: 0755
  notify: restart web script service

- name: copy service file of web script
  copy:
    src: "hqcam-web/hqcam-web.service"
    dest: "/etc/systemd/system/hqcam-web.service"
    mode: 0644
  become: yes
  notify: enable web script service

- name: copy script
  copy:
    src: "camera-for-hyperpixel2r.py"
    dest: "/home/{{ ansible_user }}/camera-for-hyperpixel2r.py"
    mode: 0755
  notify: restart lightdm

- name: create directory for autostart script
  file:
    path: "/home/{{ ansible_user }}/.config/labwc"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755
    state: directory

- name: copy autostart file
  template:
    src: autostart
    dest: "/home/{{ ansible_user }}/.config/labwc/autostart"
  notify: restart lightdm

- name: disable display blanking
  command: raspi-config nonint do_blanking 1
  become: yes
  changed_when: no
  notify: restart lightdm

- name: add devicetree configuration for hyperpixel 2r
  lineinfile:
    path: "/boot/firmware/config.txt"
    line: "dtoverlay=vc4-kms-dpi-hyperpixel2r"
  become: yes
  notify: reboot
