# Check

- name: check latest version of mikutter
  uri: url="http://mikutter.hachune.net/download/unstable.json?count=1"
  register: mikutter_json
  always_run: yes

- fail: msg="can't get latest mikutter version!"
  when: mikutter_json.json[0].version_string is not defined

- set_fact:
    mikutter_ver: "{{mikutter_json.json[0].version_string}}"

- set_fact:
    mikutter_tarball: "{{ mikutter_path }}.{{ mikutter_ver }}.tar.gz"

- name: check exist mikutter directory
  stat: path={{ mikutter_path }}
  register: mikutter_check

- name: check exist mikutter version
  command: ruby {{ mikutter_path }}/mikutter.rb --version
  register: exist_mikutter_result
  when: mikutter_check.stat.exists
  changed_when: no
  failed_when: no
  always_run: yes

# 存在しているmikutterのバージョンを上書格納
- set_fact:
    exist_mikutter_ver: "{{ exist_mikutter_result.stdout.split(' ') }}"
  when:
    - mikutter_check.stat.exists
    - not exist_mikutter_result.rc

- name: compare version
  set_fact:
    install_flag: "{{ exist_mikutter_ver[1] | version_compare(mikutter_ver, '<') }}"
