# Require roles: jessie

- name: install ruby2.1
  apt: >
    default_release=jessie
    name={{ item }}
    state=present
    update_cache=yes
    cache_valid_time=3600
  with_items:
    - ruby2.1
    - ruby2.1-dev
    - bundler
  sudo: yes

- name: set alternatives for ruby
  alternatives: >
    name={{ item.name }}
    path={{ item.path }}
    link={{ item.link }}
  with_items:
    - name: ruby
      path: /usr/bin/ruby2.1
      link: /usr/bin/ruby
    - name: gem
      path: /usr/bin/gem2.1
      link: /usr/bin/gem
  sudo: yes
