[Desktop Entry]
Type=Application
Name=mikutter
Categories=Network
GenericName=mikutter
Icon={{ mikutter_path }}/core/skin/data/icon.png
Exec=/usr/bin/ruby {{ mikutter_path }}/mikutter.rb
Terminal=false
