[Desktop Entry]
Type=Application
Name=mikutter
Categories=Network
GenericName=mikutter
Icon={{ ansible_env.HOME }}/mikutter/core/skin/data/icon.png
Exec=/usr/bin/ruby {{ ansible_env.HOME }}/mikutter/mikutter.rb
Terminal=false
