- name: restart network-manager
  systemd:
    name: network-manager
    state: restarted
  when: ansible.distribution_major_version|int <= 10
  become: yes

- name: restart NetworkManager
  systemd:
    name: NetworkManager
    state: restarted
  when: ansible.distribution_major_version|int >= 11
  become: yes
