[Unit]
Description=get temperature/humidity/pressure by bme280 and send to zabbix

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/bme280tozabbix.py

[Install]
WantedBy=default.target
